<div id="result">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-9 col-md-offset-1">
                <table class="table">
                    <thead>
                      <tr>
                        <th>Número</th>
                        <th>Nome</th>
                        <!--<th>Data</th>-->
                      </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="carro in carros">
                        <td>{{ carro.id_Carro }}</td>
                        <td>{{ carro.nome_Carro }}</td>
                        <!--<td>{{ carro.created_at | date:'MM/dd/yyyy @ h:mma' }}</td>-->
                        <td><a ng-click="edit(carro.id_Carro)"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a></td>
                        <td><a ng-click="delete(carro.id_Carro)"><i class="fa fa-times fa-lg" aria-hidden="true"></i></a></td>
                      </tr>
                    </tbody>
                </table>
            </div>  
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-9 col-md-offset-1">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <div class="input-group-addon"><i class="fa fa-car" aria-hidden="true"></i></div>
                        <input type="text" class="form-control has-error" id="nome" name="nome" placeholder="Nome" ng-model="dados.nome_Carro" ng-required="true"></br>
                    </div>
                    <br>
                </div>
                <button type="submit" class="btn btn-primary btn-lg" ng-click="createCarro()">Adicionar</button>
            </form>
            {{sucesso}}
        </div>
    </div>
</div>