<div id="result" ng-repeat="parque in parques | filter:{'local':valor} track by $index">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <p><span class="weight">Parque (ID): </span>{{ parque.id }}</p>
                <p><span class="weight">Local: </span>{{ parque.local }}</p>
                <p><span class="weight">Piso: </span>{{ parque.piso }}</p>
                <p><span class="weight">Carro (ID): </span>{{ parque.id_Carro }}</p>
                <p><span class="weight">Data: </span>{{ parque.created_at | date:'medium'}}</p>
                <a ng-click="delete(parque.id)"><i class="fa fa-times" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>