<div id="result">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-9 col-md-offset-1">
                <table class="table">
                    <thead>
                      <tr>
                        <th>Local</th>
                        <th>Piso</th>
                        <th>Lugar</th>
                        <th>Carro</th>
                        <!--<th>Data</th>-->
                      </tr>
                    </thead>
                    <tbody>
                      <a><tr ng-repeat="parque in parques">
                        <td>{{ parque.local }}</td>
                        <td>{{ parque.piso }}</td>
                        <td>{{ parque.lugar }}</td>
                        <td ng-value="parque.id_Carro">{{ carro.nome_Carro }}</td>
                        <!--<td>{{ parque.created_at | date:'medium' }}</td>-->
                        <td><a ng-click="edit(parque.id)"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a></td>
                        <td><a ng-click="delete(parque.id)"><i class="fa fa-times fa-lg" aria-hidden="true"></i></a></td>
                      </tr></a>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>

                    <!--<div ng-repeat="carro in carros">
                        <p><span class="weight">Carro: </span>{{ carro.nome_Carro }}</p>
                    </div>-->